@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


.navAni {
  border: 2px solid 
}

.dark, .dark-theme {
  --violet-1: #0f101b;
  --violet-2: #151626;
  --violet-3: #21214a;
  --violet-4: #2a2867;
  --violet-5: #333177;
  --violet-6: #3d3c86;
  --violet-7: #49499a;
  --violet-8: #5757b6;
  --violet-9: #7f7fff;
  --violet-10: #7472f1;
  --violet-11: #a5abff;
  --violet-12: #dce0ff;

  --violet-a1: #0000f90b;
  --violet-a2: #3e49fa17;
  --violet-a3: #5353fc3e;
  --violet-a4: #5650fd5d;
  --violet-a5: #605bfd6e;
  --violet-a6: #6a68fd7e;
  --violet-a7: #7373ff93;
  --violet-a8: #7676ffb1;
  --violet-a9: #7f7fff;
  --violet-a10: #7a78fff0;
  --violet-a11: #a5abff;
  --violet-a12: #dce0ff;

  --violet-contrast: #fff;
  --violet-surface: #191b3b80;
  --violet-indicator: #7f7fff;
  --violet-track: #7f7fff;
}

.dark, .dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --violet-1: oklch(17.8% 0.0239 280);
      --violet-2: oklch(20.6% 0.0316 280);
      --violet-3: oklch(27.2% 0.0737 280);
      --violet-4: oklch(31.8% 0.1077 280);
      --violet-5: oklch(35.8% 0.1164 280);
      --violet-6: oklch(40% 0.1196 280);
      --violet-7: oklch(44.8% 0.1288 280);
      --violet-8: oklch(50.6% 0.1478 280);
      --violet-9: oklch(65.9% 0.1852 280);
      --violet-10: oklch(61.9% 0.1852 280);
      --violet-11: oklch(77.6% 0.1389 280);
      --violet-12: oklch(91.4% 0.0449 280);

      --violet-a1: color(display-p3 0 0 0.9961 / 0.038);
      --violet-a2: color(display-p3 0.251 0.298 0.9882 / 0.085);
      --violet-a3: color(display-p3 0.3451 0.3451 1 / 0.227);
      --violet-a4: color(display-p3 0.3529 0.3294 1 / 0.345);
      --violet-a5: color(display-p3 0.3922 0.3725 1 / 0.412);
      --violet-a6: color(display-p3 0.4353 0.4275 1 / 0.471);
      --violet-a7: color(display-p3 0.4627 0.4627 0.9961 / 0.555);
      --violet-a8: color(display-p3 0.4745 0.4745 0.9961 / 0.669);
      --violet-a9: color(display-p3 0.5098 0.5098 0.9961 / 0.967);
      --violet-a10: color(display-p3 0.4941 0.4824 0.9961 / 0.908);
      --violet-a11: color(display-p3 0.6667 0.6863 1 / 0.975);
      --violet-a12: color(display-p3 0.8784 0.8902 1 / 0.988);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.0941 0.102 0.2118 / 0.5);
      --violet-indicator: oklch(65.9% 0.1852 280);
      --violet-track: oklch(65.9% 0.1852 280);
    }
  }
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(17.8% 0.0042 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.0055 277.7);
      --gray-4: oklch(28.4% 0.0075 277.7);
      --gray-5: oklch(31.4% 0.0089 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.0121 277.7);
      --gray-8: oklch(49.2% 0.0157 277.7);
      --gray-9: oklch(54% 0.0167 277.7);
      --gray-10: oklch(58.6% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
      --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
      --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
      --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
      --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
      --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
      --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0167 277.7);
      --gray-track: oklch(54% 0.0167 277.7);
    }
  }
}

@theme inline {

  --font-sans: var(--font-inter);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear
;
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);}}
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);}
  15%, 35% {
    transform: translateZ(0) rotate(90deg);}
  65%, 85% {
    transform: translateZ(0) rotate(270deg);}
  100% {
    transform: translateZ(0) rotate(360deg);}}}

.glasspanedark {
background: rgba(48, 48, 48, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
border: 1px solid rgba(48, 48, 48, 0.09);
}

.glasspanewhite {
  background: rgba(255, 255, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.2px);
-webkit-backdrop-filter: blur(2.2px);
border: 1px solid rgba(255, 255, 255, 0.09);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9551 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.9600 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.border-rainbow {
  border: 2px solid transparent;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border-image-slice: 1;
  object-fit: cover;

}

.animateborder:hover {
  /* animation: 3s infinite alternate slide-in; */ 
  border-bottom: 2px solid #FFBF00;
  transition: border-width 0.3s ease-in-out, border-color 0.3s ease-in-out;

}
.dark {
  --background: oklch(0.2303 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}