---
// import { Hero } from "@/lib/whoknows/Hero.tsx";
import { buttonVariants } from "../components/ui/Button.tsx";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero  from "@/components/Hero.astro";
import HomeBlog from "@/components/HomeBlog.astro";
import Footer from "@/components/Footer.astro";
import Skills from "@/components/Skills.astro";
---

<BaseLayout
  title="Ryan Wilson"
  description="I like to build stuff."
>
<section class="main_section">
      <Hero />
      <HomeBlog />
	  <Skills />
      <Footer />
      <!-- <slot /> -->
      </section>
</BaseLayout>
