---
import ThemeToggle from "../components/ThemeToggle.astro";
import Navbar from "./Navbar";
import NavigationMenuDemo from "@/components/Navbar"

interface aboutSecProps {
  heading: string,
  description: string,
  bio: string;
}

const aboutSec = ({
  heading:  "Ryan Wilson",
  description:  "Cybersecurity | Networking | Web Dev | Web Design | Programming | Linux",
  bio: "My name is Ryan, and I like to build stuff. My professional experience includes Network Adminsitration & Cybersecurity, and eventually I drifted off into web development which was a very addicting rabbithole. As a result, I've gained a lot of versitile skills over the years in a lot of different areas. Here is where I can let my mind flow and share some tips, tricks, and ideas. Hopefully you find something useful!"
});
---
<section class="w-[100%] mx-auto flex justify-center">
      <div class="container flex flex-col items-center gap-4">

<header class=" *:lg:top-0 z-50 lg:w-full border-b bg-background/95 backdrop-blur supports-backdrop-filter:bg-background/60">
  <div class=" relative container px-4 mx-auto flex h-16 justify-center w-full">
    <a
      href="/"
      class="flex items-center text-lg font-semibold w-full"
      aria-label="Homepage"
    >
      <span class="flex text-md text-center justify-center items-center">Ryan Wilson</span>
    </a>
        <div class="absolute items-center flex h-full">
        <NavigationMenuDemo client:load/>
        </div>
        <div class="h-full items-center flex justify-end  ">
      <ThemeToggle />
      </div>
    </nav>
  </div>
  </div>
  </header>
  </section>

